<h1>About us</h1>
<p>Design by Rails Beginner without scaffolding</p>
<p>Who is already on Rails?</p>
<p>Tens of thousands of Rails applications are already live. 
   People are using Rails in the tiniest part-time operations to the biggest companies.</p> 
<p>To know more about us go to our official website of <a href="http://railstutorial.org">ruby on rails</a></p>
