<p>
	This is a home page for the <a href="http://railstutorial.org/">Ruby on rails tutorial</a> 
	sample application
</p>
<pre>“Ruby on Rails is a breakthrough in lowering the barriers of entry to 
programming.Powerful web applications that formerly might have taken weeks
or months to develop can be produced in a matter of days.”
                                   
                                   -Tim O'Reilly, Founder of O'Reilly Media 
</pre>
<%= link_to "Sign up now!",signup_path, :class =>"signup_button round"%>
